.tres {
    color: black;
    background-color: gold;
    border-radius: 20px;
    padding: 5px;
}

.fondo {
    background-color: rgb(135, 237, 255);
}

.Mm {
    padding: 10px;
    background: blue;
    color: white;
}

.Mi {
    color: red;
}

.oo {
    font-size: 20px;

}

.azul {
    margin: 20px;
    padding: 10px;
}